.wrapper {
   position: relative;
   background-color: var(--top-color);
   color: #ffffff;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   padding: 15px 0;
}

.menuList {
   list-style: none;
   display: flex;
   justify-content: space-between;
}

.linkItem {
   display: flex;
   flex-direction: column;
   align-items: center;
   -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
   outline: none !important;
}

.active {
   color: #e00e65;
}

.linkItem span {
   font-size: 12px;
   font-weight: 700;
   margin-top: 6px;
}

.basket {
   position: absolute;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: var(--top-color);
   /* border: 2px solid #e00e65; */
   border-radius: 50%;
   top: -20px;
   left: 50%;
   margin-left: -25px;
}

.basket span {
   font-size: 10px;
   color: #e00e65;
}

.basket__linkItem {
   justify-content: center;
   width: 50px;
   height: 50px;
   border: 2px solid #e00e65;
   border-radius: 50%;
}

.center {
   width: 20px;
}

.div {
   margin-bottom: 9px;
}
